:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --dark-desaturated-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  --white: hsl(0, 0%, 100%);

  --manrope: Manrope, sans-serif;
  --medium: 500;
  --bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--manrope);
}

html {
  background-color: var(--grayish-blue);
}

h1,
h2 {
  color: var(--very-dark-grayish-blue);
}
h2 {
  font-size: 16px;
  width: 80%;
  color: var(--dark-desaturated-blue);
  line-height: 1.5;
}

p {
  font-size: 13px;
  color: var(--dark-desaturated-blue);
}

.article {
  width: 36%;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 40px;
  background-color: var(--white);
}

.avatar-wrapper {
  display: flex;
  flex-direction: row;
}

.flex-row-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.avatar {
  border-radius: 100%;
  width: 5%;
}

.image-wrapper {
  height: 500px;
  width: 50%;
  border-bottom-left-radius: 5%;
  border-top-left-radius: 5%;
  background-image: url("./images/drawers.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}
